<app-navbar></app-navbar>
<div class="container-fluid boxing">
  <div class="container">
    <div class="row">
      <div class="col-4 text-center boxing-content {{(status == 'accepted')? 'active':''}}" (click)="navigate('accepted')" style="border-right: 1px dotted #D21312">
        <p class="lead">Accepted</p>
      </div>
      <div class="col-4 text-center boxing-content {{(status == 'pending')? 'active':''}}" (click)="navigate('pending')" style="border-right: 1px dotted #D21312">
        <p class="lead">Pending</p>
      </div>
      <div class="col-4 text-center boxing-content {{(status == 'rejected')? 'active':''}}" (click)="navigate('rejected')">
        <p class="lead">Rejected</p>
      </div>
    </div>
  </div>
</div>

<div class="card {{color}}" style="margin: 10px">
  <div class="card-header">
    <p class="text-center lead">1 - request</p>
  </div>
  <div class="card-body">
    <div class="row">
      <p class="lead col-sm-6">From : 2022-10-10</p>
      <p class="lead col-sm-6">To : 2022-10-10</p>
      <p class="lead col-sm-6">Type: Work From Home</p>
      <p class="lead col-sm-6">Status: accepted</p>
    </div>
  </div>
</div>
<app-footer></app-footer>
